/*
Start of index.css

Project 0002 (Website diegoberho.com)

Made by Keegan Grajek

This file is under copyright by diegoberho.com all rights reserved 2022

DELETE THE BELOW COMMENTS WHEN DONE

Rules for this document:
- classes are for defining individual objects
    = naming scheme should be .ftr-box-etc
- ids are for defining groups of objects
    = naming scheme should be #ftr-etc...-grp
    = They should have "-grp" at the end of each id

Note: naming schemes should have a mnemonic attatched ot them.

The main groups for this page are:
- head (hed)
- everything (all)
- scrollbar (scrlbr)
- header (hdr)
- body (bdy)
- footer (ftr)

organization should be done by ids (groups)
after groups organization should be done by classes

comments should describe every set of brackets and are before every initialization of code
section comments should describe grouped together pieces of code
ex. /* == section comment == * /
also, sections should be used very infrequently (used for finding large groups of code)

example setup:

/* == ftr section == * /

/* comments * /
#ftr-box-grp {
    ...
}

/* comments * /
.ftr-box-1 {
    ...
}

/* comments * /
.ftr-box-2 {
    ...
}
*/

/* == all section == */

/* All attribute (affect everything) */

* {
    margin:0;
    padding:0;
}

/* :root {



} */

/* width */
::-webkit-scrollbar {
    width: 10px;
    position: fixed;
    z-index: 10;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.70);
}

html,body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    text-transform: lowercase;
}

body {
    font-family: monospace;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;
}

.subfolder-page {
    outline: black 2px solid;
}

.unclickable-link {
    cursor:default;
    outline: black 2px solid;
}

.unclickable-link:hover{
    color: black !important;
}

.unselectable-link {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header {
    flex: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#header-button-boxes {
    flex: 3;
    position: relative;
}

.header-buttons-left {
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-link-box-left-left {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.header-link-box-left-right {
    height: 100%;
    flex: 1;
}

.header-link-div {
    padding: 0px 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-link-div-contact {
    position: relative;
}

.hover-box-contact-switch-off {
    display: none;
}

.header-buttons-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-buttons-right {
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-link-box-right-right {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-link-box-right-left {
    height: 100%;
    flex: 1;
}

#header-link {
    text-decoration: none;
    color: black;
    font-size:x-large;
    font-family: monospace;
    transition: all 0.3s;
}

#header-link:hover {
    color: rgba(0, 0, 0, 0.652);
    transition: all 0.2s;
}

.header-link-logo {
    width: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.header-link-logo-img {
    padding-top: 5px;
    position: absolute;
    top: 0px;
    transition: all 0.5s;
}

.header-link-logo-img:hover {
    width: 200px;
    transition: all 0.5s;
}

.header-link-contact {
    position: relative;
}

.header-link-contact-dropdown {
    position: absolute;
    width: 100%;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.624);
    backdrop-filter: blur(3px);
    z-index: 100;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0px;
}

.header-link-contact-dropdown-display {
    display: auto;
}

.header-link-contact-dropdown-display-not {
    display: none;
}

#contact-dropdown-content {
    font-family: monospace;
    font-size: x-large;
    margin: 10px;
    flex: 1;
}

#contact-dropdown-content-box {
    flex: 2;
}

.body {
    flex: 15;
    background-color: white;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.body-box-1 {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    overflow-y:scroll;
}

.body-box-4 {
    position: relative;
    height: 100%;
    overflow-y:scroll;
}

.box-body-box-1 h1 {
    display: flex;
    padding: 40px;
    position: relative;
    font-size: 30px;
    height: 20%;
    justify-content: center;
    align-items: center;
}

.box-body-box-1 {
    width: 100%;
    position: relative;
}

.box-body-box-2 {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bbb-2-box {
    height: 350px;
    width: 300px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    font-weight: bolder;
}

/* .bbb-2-box:hover {
    
} */

#bbb-2-box-picture {
    display: flex;
    margin: 10px 0px;
    width: 100%;
    flex: 8;
    justify-content: center;
    align-items: center;
    background-color:rgb(218, 218, 218);
}

#bbb-2-box-photo-selection {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#bbb-2-box-photo-selection a {
    margin: 0px 5px;
    cursor: pointer;
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.3s;
}

#bbb-2-box-photo-selection a:hover {
    background-color: #717171;
}

#bbb-2-box-photo-selection a:active {
    background-color: #3e3e3e;
    transition: all 0.0s;
}

.photo-selection-clicked-button {
    background-color: #3e3e3e !important;
}

.ps-picture-00 {
    background-color: red;
}
.ps-picture-01 {
    background-color: blue;
}
.ps-picture-02 {
    background-color: violet;
}
.ps-picture-03 {
    background-color: orange;
}
.ps-picture-04 {
    background-color: green;
}
.ps-picture-05 {
    background-color: purple;
}
.ps-picture-06 {
    background-color: aqua;
}

.picture-0 {
    background-image: url("../img-files/fake-photos/steve-harvey-1.jpg");
}

.picture-1 {
    background-image: url("../img-files/fake-photos/steve-harvey-2.jpg");
}

.picture-2 {
    background-image: url("../img-files/fake-photos/steve-harvey-3.jpg");
}

.picture-3 {
    background-image: url("../img-files/fake-photos/steve-harvey-4.jpg");
}

.picture-4 {
    background-image: url("../img-files/fake-photos/steve-harvey-5.jpg");
}

.picture-5 {
    background-image: url("../img-files/fake-photos/steve-harvey-6.jpg");
}

#bbb-2-box-name {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#bbb-2-box-price {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#purchase-photo-selection-button {
    margin: 0px 5px;
    cursor: pointer;
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.3s;
}

#body-box-buttons {
    width: 4em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    font-size: xx-large;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    border: solid black 2px;
    padding: 15px 50px;
    margin: 40px;
    background-color: white;
    text-decoration: none;
    color: black;
    transition: all 0.5s;
}

#body-box-buttons:hover {
    opacity: 70%;
    border: solid 2px rgba(0, 0, 0, 0.756);
    transition: all 0.2s;
}

.coming-soon-text {
    font-size: 50px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: black;
}

.body-text-smaller {
    font-size: 30px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: black;
}

#copy-text:hover {
    color:rgb(46, 46, 46);
}

.body-box-5 {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    overflow-y:scroll;
    padding: 0px 100px;
}

.body-box-5-box {
    flex: 1;
    width: 90%;
    height: 90%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

#bb5b-b {
    width: 100%;
    height: 100%;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bb5b-picture {
    flex: 12;
}

.bb5b-selection {
    flex: 2;
    display: flex;
}

.bb5b-blurb {
    flex: 8;
    flex-direction: column;
}

.bb5b-contact {
    flex: 4;
    flex-direction: column;
}

#bb5b-b h1 {
    padding-bottom: 10px;
}

.bb5b-b-c {
    padding: 5px 0px;
}

/* About Page */
.body-about {
    flex: 15;
    height: 3000px;
    overflow-y: scroll;
    width: 100%;
    overflow: hidden;
}

.body-about-1 {
    flex: 15;
    height: 3000px;
    overflow-y: scroll;
    width: 100%;
}

.body-about-box-1 {
    height: 100%;
    width: 100%;
    background-image: url(../img-files/img-0495-background-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 53%;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.body-about-box-10 {
    height: 100%;
    width: 100%;
    background-color: white;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.body-about-box-11 {
    height: 100%;
    width: 100%;
    background-color: rgb(240, 240, 240);
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.body-about-text-box {
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    display: flex;
}

.body-about-text-box-flex {
    display: flex;
    width: 85%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.about-picture {
    width: 400px;
    height: 450px;
    background-image: url("https://drive.google.com/uc?export=view&id=1k9Rinpgo1WRNFGIoQUb5BqGWiATi1TR7");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.about-text h1 {
    padding-bottom: 40px;
}

.about-picture h1 {
    color: white;
}

.about-text {
    width: 50%;
    height: 100%;
}

#socials-link {
    font-size:xx-large;
    color: black;
    margin: 10px 50px;
}

#socials-link:hover {
    color: rgb(50, 50, 50);
}

.body-about-box-2 {
    height: 100%;
    width: 100%;
    background-color: white;
}

.body-about-box-3 {
    height: 100%;
    width: 100%;
    background-color: blanchedalmond;
}

.body-about-box-4 {
    height: 100%;
    width: 100%;
    background-color: white;
}