/*
Start of index.css

Project 0002 (Website diegoberho.com)

Made by Keegan Grajek

This file is under copyright by diegoberho.com all rights reserved 2022

DELETE THE BELOW COMMENTS WHEN DONE

Rules for this document:
- classes are for defining individual objects
    = naming scheme should be .ftr-box-etc
- ids are for defining groups of objects
    = naming scheme should be #ftr-etc...-grp
    = They should have "-grp" at the end of each id

Note: naming schemes should have a mnemonic attatched ot them.

The main groups for this page are:
- head (hed)
- everything (all)
- scrollbar (scrlbr)
- header (hdr)
- body (bdy)
- footer (ftr)

organization should be done by ids (groups)
after groups organization should be done by classes

comments should describe every set of brackets and are before every initialization of code
section comments should describe grouped together pieces of code
ex. /* == section comment == * /
also, sections should be used very infrequently (used for finding large groups of code)

example setup:

/* == ftr section == * /

/* comments * /
#ftr-box-grp {
    ...
}

/* comments * /
.ftr-box-1 {
    ...
}

/* comments * /
.ftr-box-2 {
    ...
}
*/

/* == all section == */

/* All attribute (affect everything) */

* {
    margin:0;
    padding:0;
}

/* :root {



} */

/* width */
::-webkit-scrollbar {
    width: 10px;
    position: fixed;
    z-index: 10;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.70);
}

html,body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    text-transform: lowercase;
}

body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/* == End of All Section == */

/* == Start of Media Query Section == */

@media only screen and (max-width: 950px) {
    .header-link-box-left-left .header-link-div {
        display: none;
    }

    .header-link-box-right-right .header-link-div {
        display: none;
    }

    .header-link-div-2 {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .body-box-5 {
        position: relative !important;
        flex-direction: column !important;
        padding: 100px 10px !important;
        height: 150% !important;
        overflow: hidden !important;
    }
    .body-about {
        height: 10000px !important;
        overflow: scroll !important;
    }
    .body-box-5-box {
        min-height: 300px !important;
    }
}

@media only screen and (min-width: 950px) {
    .header-link-div-2 {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .coming-soon-text {
        font-size: 10vw !important;
    }
    .body-text-smaller {
        font-size: 6vw !important;
    }
}

/* == End of Media Query Section == */

.fa-bars {
    font-size: xx-large;
    cursor: pointer;
}

.subfolder-page {
    outline: black 2px solid;
}

.unclickable-link {
    cursor:default;
    outline: black 2px solid;
}

.unclickable-link:hover{
    color: black !important;
}

.unselectable-link {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header {
    flex: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#header-button-boxes {
    flex: 3;
    position: relative;
}

.header-buttons-left {
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-link-box-left-left {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.header-link-box-left-right {
    height: 100%;
    flex: 1;
}

.header-link-div {
    padding: 0px 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-link-div-contact {
    position: relative;
}

.hover-box-contact-switch-off {
    display: none;
}

.header-buttons-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-buttons-right {
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-link-box-right-right {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-link-box-right-left {
    height: 100%;
    flex: 1;
}

#header-link {
    text-decoration: none;
    color: black;
    font-size:x-large;
    font-family: monospace;
    transition: all 0.3s;
}

#header-link:hover {
    color: rgba(0, 0, 0, 0.652);
    transition: all 0.2s;
}

.header-link-logo {
    width: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.header-link-logo-img {
    padding-top: 2px;
    position: absolute;
    top: 0px;
    transition: all 0.5s;
    z-index: 100;
}

.header-link-logo-img:hover {
    width: 200px;
    transition: all 0.5s;
}

.header-link-contact {
    position: relative;
}

.header-link-contact-dropdown {
    position: absolute;
    width: 100%;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.624);
    backdrop-filter: blur(3px);
    z-index: 100;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0px;
}

.header-link-contact-dropdown-display {
    display: auto;
}

.header-link-contact-dropdown-display-not {
    display: none;
}

.header-link-mobilemenu-dropdown-display-not {
    display: none;
}

.header-link-mobilemenu-dropdown-display-yes {
    display: display;
}

.mobile-menu-bars {
    display: block;
    position: relative;
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-menu-bars-div {
    padding-top: 10px;
    height: 70%;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.mobile-menu-bars-span-animation-1 {
    -webkit-transform: translate(0px, 10px) rotate(45deg) scale(1) skew(0deg);
    -moz-transform: translate(0px, 10px) rotate(45deg) scale(1) skew(0deg);
    -o-transform: translate(0px, 10px) rotate(45deg) scale(1) skew(0deg);
    transform: translate(0px, 10px) rotate(45deg) scale(1) skew(0deg);
}

.mobile-menu-bars-span-animation-1-not {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    -o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
}

.mobile-menu-bars-span-animation-2 {
    transform: rotate(0deg) scale(0) skew(0deg) translate(0px);
}

.mobile-menu-bars-span-animation-2-not {
    transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
}

.mobile-menu-bars-span-animation-3 {
    -webkit-transform: translate(0px, -10px) rotate(-45deg) scale(1) skew(0deg);
    -moz-transform: translate(0px, -10px) rotate(-45deg) scale(1) skew(0deg);
    -o-transform: translate(0px, -10px) rotate(-45deg) scale(1) skew(0deg);
    transform: translate(0px, -10px) rotate(-45deg) scale(1) skew(0deg);
}

.mobile-menu-bars-span-animation-3-not {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    -o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
}
  

.mobile-menu-bars-div span {
    height: 4px;
    border-radius: 90px;
    width: 100%;
    margin: 3px 0px;
    background-color: black;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#contact-dropdown-content {
    font-family: monospace;
    font-size: x-large;
    margin: 10px;
    flex: 1;
}

#contact-dropdown-content-box {
    flex: 2;
}

.header-link-mobilemenu-dropdown {
    font-family: monospace;
    font-size: xx-large;
    height: 100%;
    z-index: 50;
}

.mobilemenu-dropdown-padding-box {
    height: 10%;
    width: 100%;
}

.mobilemenu-flexbox {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#mobilemenu-link {
    text-decoration: none;
    color: black;
    font-size:xx-large;
    font-weight: bolder;
    font-family: monospace;
    transition: all 0.3s;
}

.mobilemenu-dropdown-socialmedia {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
}
 
.body {
    flex: 15;
    background-color: white;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.body-box-1 {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    overflow-y:scroll;
}

.body-box-4 {
    position: relative;
    height: 100%;
    overflow-y:scroll;
}

.box-body-box-1 h1 {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    padding: 40px;
    position: relative;
    font-size: 30px;
    height: 20%;
    justify-content: center;
    align-items: center;
}

.box-body-box-1 {
    width: 100%;
    position: relative;
}

.box-body-box-2 {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bbb-2-box {
    height: 350px;
    width: 300px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    font-weight: bolder;
}

/* .bbb-2-box:hover {
    
} */

#bbb-2-box-picture {
    display: flex;
    margin: 10px 0px;
    width: 100%;
    flex: 8;
    justify-content: center;
    align-items: center;
}

#bbb-2-box-photo-selection {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#bbb-2-box-photo-selection a {
    margin: 0px 5px;
    cursor: pointer;
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.3s;
}

#bbb-2-box-photo-selection a:hover {
    background-color: #717171;
}

#bbb-2-box-photo-selection a:active {
    background-color: #3e3e3e;
    transition: all 0.0s;
}

.photo-selection-clicked-button {
    background-color: #3e3e3e !important;
}

.picture-box {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.ps-picture-00 {
    background-image: url("https://drive.google.com/uc?export=view&id=1uoNGymR2SHZ8UvvlJaRPEHFhpCfuSS31");
}
.ps-picture-01 {
    background-image: url("https://drive.google.com/uc?export=view&id=1lEkH05T2dmv_K03_YRFwoH5s4EYVUxvK");
}
.ps-picture-02 {
    background-image: url("https://drive.google.com/uc?export=view&id=1COUw8GbsgOOh7KbL9qil6HjQ45DPEQAK");
}
.ps-picture-03 {
    background-image: url("https://drive.google.com/uc?export=view&id=1Cv-JIwi1XuT7qahmP0NpobCkApCa2BUh");
}
.ps-picture-04 {
    background-image: url("https://drive.google.com/uc?export=view&id=1ECqucLK_NVfM6Cms9XhF-IcnRm5V51j5");
}
/**/
.ps-picture-10 {
    background-image: url("https://drive.google.com/uc?export=view&id=1IaMgkJrgi2YAmdrsl5EN9jnyyAbGaab_");
}
.ps-picture-11 {
    background-image: url("https://drive.google.com/uc?export=view&id=1Ehf-KOog9SsdMN3MlEk2Gg5FhAU08y_s");
}
.ps-picture-12 {
    background-image: url("https://drive.google.com/uc?export=view&id=16Bmo1pM7vEGEm__72fxiWu7SwF08iU95");
}
.ps-picture-13 {
    background-image: url("https://drive.google.com/uc?export=view&id=1WNJc7vldWLNZKxhcAMCV1U4YYhg6cguR");
}
.ps-picture-14 {
    background-image: url("https://drive.google.com/uc?export=view&id=11G6SioB6c_NY5hU72EXp81y-hJR0zaXL");
}
/**/
.ps-picture-20 {
    background-image: url("https://drive.google.com/uc?export=view&id=1pK2so-8cRuI26hb2Je6SRznw76nQ-nt6");
}
.ps-picture-21 {
    background-image: url("https://drive.google.com/uc?export=view&id=14tk0E2iVK5KrlTe3Cz_6vduOc1FHN4rS");
}
.ps-picture-22 {
    background-image: url("https://drive.google.com/uc?export=view&id=1eb0ezlXH_9PaaX0bKet41L8ytJqgTpWm");
}
.ps-picture-23 {
    background-image: url("https://drive.google.com/uc?export=view&id=1EuzjY3yhsLgfCq9mFhu5v_BYqu5yyHMI");
}
/**/
.ps-picture-30 {
    background-image: url("https://drive.google.com/uc?export=view&id=1Yaemrm1gzCX_XCAVsZnZZAWaMjKxtsEp");
}
.ps-picture-31 {
    background-image: url("https://drive.google.com/uc?export=view&id=110iDZrexX3TZJuS8YCSJrLOUDKhp3rge");
}
.ps-picture-32 {
    background-image: url("https://drive.google.com/uc?export=view&id=1NikC97GvR5qPAwI9mO4cjSWvIv01zOqC");
}
/**/
.ps-picture-40 {
    background-image: url("https://drive.google.com/uc?export=view&id=17_oLgy_jX8KY9RIQcJti7dOe0SaxU5QY");
}
.ps-picture-41 {
    background-image: url("https://drive.google.com/uc?export=view&id=1RxnsBL6-KbBSXQjwc9fMPYKs13vRjPUv");
}
.ps-picture-42 {
    background-image: url("https://drive.google.com/uc?export=view&id=1xqG9G2VmHLm23Dxq9j6TzHoHvSATW69G");
}
.ps-picture-43 {
    background-image: url("https://drive.google.com/uc?export=view&id=1H9emn9JoUBihaSOfJOGb9oiPGJjNuSMO");
}
/**/
.ps-picture-50 {
    background-image: url("https://drive.google.com/uc?export=view&id=1KIm91L2UujrdYE8zHWLxVPTZ3X2aLvXd");
}
.ps-picture-51 {
    background-image: url("https://drive.google.com/uc?export=view&id=15fjhTTQbuHMgF3xaKHQUQm1VnrXFmsCu");
}
.ps-picture-52 {
    background-image: url("https://drive.google.com/uc?export=view&id=1JiObwxLcJUCfKqDbfJ7vLQRVQYrqkDon");
}
.ps-picture-53 {
    background-image: url("https://drive.google.com/uc?export=view&id=1A28xIMUP6wUC0eekuNXig1j7ZlZ4O_Vs");
}
.ps-picture-54 {
    background-image: url("https://drive.google.com/uc?export=view&id=1gxdHMFbzTN0i_oDHPCYIjW7wDCagUyB0");
}

/**/
.o-picture-00 {
    background-image: url("https://drive.google.com/uc?export=view&id=1uoNGymR2SHZ8UvvlJaRPEHFhpCfuSS31");
}
.o-picture-01 {
    background-image: url("https://drive.google.com/uc?export=view&id=1lEkH05T2dmv_K03_YRFwoH5s4EYVUxvK");
}
.o-picture-02 {
    background-image: url("https://drive.google.com/uc?export=view&id=1COUw8GbsgOOh7KbL9qil6HjQ45DPEQAK");
}
.o-picture-03 {
    background-image: url("https://drive.google.com/uc?export=view&id=1Cv-JIwi1XuT7qahmP0NpobCkApCa2BUh");
}
.o-picture-04 {
    background-image: url("https://drive.google.com/uc?export=view&id=1ECqucLK_NVfM6Cms9XhF-IcnRm5V51j5");
}
/**/
.o-picture-10 {
    background-image: url("https://drive.google.com/uc?export=view&id=1IaMgkJrgi2YAmdrsl5EN9jnyyAbGaab_");
}
.o-picture-11 {
    background-image: url("https://drive.google.com/uc?export=view&id=1Ehf-KOog9SsdMN3MlEk2Gg5FhAU08y_s");
}
.o-picture-12 {
    background-image: url("https://drive.google.com/uc?export=view&id=16Bmo1pM7vEGEm__72fxiWu7SwF08iU95");
}
.o-picture-13 {
    background-image: url("https://drive.google.com/uc?export=view&id=1WNJc7vldWLNZKxhcAMCV1U4YYhg6cguR");
}
.o-picture-14 {
    background-image: url("https://drive.google.com/uc?export=view&id=11G6SioB6c_NY5hU72EXp81y-hJR0zaXL");
}
/**/
.o-picture-20 {
    background-image: url("https://drive.google.com/uc?export=view&id=1pK2so-8cRuI26hb2Je6SRznw76nQ-nt6");
}
.o-picture-21 {
    background-image: url("https://drive.google.com/uc?export=view&id=14tk0E2iVK5KrlTe3Cz_6vduOc1FHN4rS");
}
.o-picture-22 {
    background-image: url("https://drive.google.com/uc?export=view&id=1eb0ezlXH_9PaaX0bKet41L8ytJqgTpWm");
}
.o-picture-23 {
    background-image: url("https://drive.google.com/uc?export=view&id=1EuzjY3yhsLgfCq9mFhu5v_BYqu5yyHMI");
}
/**/
.o-picture-30 {
    background-image: url("https://drive.google.com/uc?export=view&id=1Yaemrm1gzCX_XCAVsZnZZAWaMjKxtsEp");
}
.o-picture-31 {
    background-image: url("https://drive.google.com/uc?export=view&id=110iDZrexX3TZJuS8YCSJrLOUDKhp3rge");
}
.o-picture-32 {
    background-image: url("https://drive.google.com/uc?export=view&id=1NikC97GvR5qPAwI9mO4cjSWvIv01zOqC");
}
/**/
.o-picture-40 {
    background-image: url("https://drive.google.com/uc?export=view&id=17_oLgy_jX8KY9RIQcJti7dOe0SaxU5QY");
}
.o-picture-41 {
    background-image: url("https://drive.google.com/uc?export=view&id=1RxnsBL6-KbBSXQjwc9fMPYKs13vRjPUv");
}
.o-picture-42 {
    background-image: url("https://drive.google.com/uc?export=view&id=1xqG9G2VmHLm23Dxq9j6TzHoHvSATW69G");
}
.o-picture-43 {
    background-image: url("https://drive.google.com/uc?export=view&id=1H9emn9JoUBihaSOfJOGb9oiPGJjNuSMO");
}
/**/
.o-picture-50 {
    background-image: url("https://drive.google.com/uc?export=view&id=1KIm91L2UujrdYE8zHWLxVPTZ3X2aLvXd");
}
.o-picture-51 {
    background-image: url("https://drive.google.com/uc?export=view&id=15fjhTTQbuHMgF3xaKHQUQm1VnrXFmsCu");
}
.o-picture-52 {
    background-image: url("https://drive.google.com/uc?export=view&id=1JiObwxLcJUCfKqDbfJ7vLQRVQYrqkDon");
}
.o-picture-53 {
    background-image: url("https://drive.google.com/uc?export=view&id=1A28xIMUP6wUC0eekuNXig1j7ZlZ4O_Vs");
}
.o-picture-54 {
    background-image: url("https://drive.google.com/uc?export=view&id=1gxdHMFbzTN0i_oDHPCYIjW7wDCagUyB0");
}

#bbb-2-box-name {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#bbb-2-box-price {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#purchase-photo-selection-button {
    margin: 0px 5px;
    cursor: pointer;
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.3s;
}

#body-box-buttons {
    width: 5em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    border: solid black 2px;
    padding: 15px 50px;
    margin: 40px;
    background-color: white;
    text-decoration: none;
    color: black;
    transition: all 0.5s;
}

#body-box-buttons:hover {
    opacity: 70%;
    border: solid 2px rgba(0, 0, 0, 0.756);
    transition: all 0.2s;
}

.coming-soon-text {
    font-size: 50px;
    padding: 10px;
    font-weight: bolder;
    color: black;
}

.body-text-smaller {
    font-size: 30px;
    padding: 10px;
    font-weight: bolder;
    color: black;
}

#copy-text:hover {
    color:rgb(46, 46, 46);
}

.body-box-5 {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    overflow-y:scroll;
    padding: 0px 100px;
}

.body-box-5-box {
    flex: 1;
    width: 90%;
    height: 90%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

#bb5b-b {
    width: 100%;
    height: 100%;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bb5b-picture {
    flex: 12;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.bb5b-selection {
    flex: 2;
    display: flex;
}

.bb5b-blurb {
    flex: 8;
    flex-direction: column;
}

.bb5b-contact {
    flex: 4;
    flex-direction: column;
}

#bb5b-b h1 {
    padding-bottom: 10px;
}

.bb5b-b-c {
    padding: 5px 0px;
}

.notify-bar {
    height: 40px;
    width: 100%;
    position: relative;
    top: 10px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notify-bar div {
    font-size: larger;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* About Page */
.body-about {
    flex: 15;
    height: 3000px;
    overflow-y: scroll;
    width: 100%;
    overflow: hidden;
}

.body-about-1 {
    flex: 15;
    height: 3000px;
    overflow-y: scroll;
    width: 100%;
}

.body-about-box-1 {
    height: 100%;
    width: 100%;
    background-image: url(../img-files/img-0495-background-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 53%;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

#body-about-contact-page {
    overflow: hidden !important;
}

.body-about-box-10 {
    height: 100%;
    width: 100%;
    background-color: white;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.body-about-box-11 {
    height: 100%;
    width: 100%;
    background-color: rgb(240, 240, 240);
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.body-about-text-box {
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    display: flex;
}

.body-about-text-box-flex {
    display: flex;
    width: 85%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.about-picture {
    width: 400px;
    height: 450px;
    background-image: url("https://drive.google.com/uc?export=view&id=1k9Rinpgo1WRNFGIoQUb5BqGWiATi1TR7");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.about-text h1 {
    padding-bottom: 40px;
}

.about-picture h1 {
    color: white;
}

.about-text {
    width: 50%;
    height: 100%;
}

#socials-link {
    font-size:xx-large;
    color: black;
    margin: 10px 50px;
}

#socials-link:hover {
    color: rgb(50, 50, 50);
}

.body-about-box-2 {
    height: 100%;
    width: 100%;
    background-color: white;
}

.body-about-box-3 {
    height: 100%;
    width: 100%;
    background-color: blanchedalmond;
}

.body-about-box-4 {
    height: 100%;
    width: 100%;
    background-color: white;
}